<app-lottery *ngIf="dialogVisible" [locations]="locations" (closeDialog)="toggleDialog()" (winningLocation)="onLotteryResult($event)"></app-lottery>

<div class="container" *ngIf="locations">
  <div class="map">
    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" #map>
      <agm-marker *ngFor="let location of locations" [latitude]="location.latitude" [longitude]="location.longitude"></agm-marker>
    </agm-map>
  </div>
  <div class="side-bar">
    <input type="text" #searchInput placeholder="search">
    <ul>
      <li *ngFor="let location of locations">
        {{ location.name }}
      </li>
    </ul>
    <button (click)="toggleDialog()">Go!</button>
  </div>
</div>