.container {
  display: flex;
  flex-direction: row;

  .map {
    flex-grow: 1;
  }

  .side-bar {
    width: 400px;
    text-align: center;

    input {
      width: 100%;
    }
    ul {
      margin-top: 10px;
    }
    li {
      padding: 5px;
      text-align: center;
    }
    button {
      margin-top: 10px;
    }
  }
}
